<nav>
  <div class="row">
    <div class="large-2 medium-2 small-8 column">

      <div class="logo">
        <img src="images/logo-menu.png" alt=""/>
      </div>

    </div>
    <div class="show-for-medium-up large-8 medium-8 column text-right main-menu">

      <ul>
        <li class="bold capitalize"><a href="#">Home</a></li>
        <li class="bold capitalize"><a href="">About Us</a></li>
        <li class="bold capitalize"><a href="">Our Team</a></li>
        <li class="bold capitalize"><a href="">Upcoming Events</a></li>
      </ul>

    </div>
    <div class="large-2 medium-2 column text-right">

    <ul>
      <li class="bold capitalize">Contact Us</li>
      <li></li>
    </ul>
    </div>
  </div>
</nav>