<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - IAM - Industrial Arts + Method Foundation">
    <meta property="og:site_name" content="IAM - Industrial Arts + Method Foundation">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Home - IAM - Industrial Arts + Method Foundation">
    <meta name="google-site-verification" content="yen3MMM8biCA-tXoO9q9t4iZ-yoq2EfM3oYSdmp4t-M" />

    <title>IAM - {{ page.title }}</title>
    <link rel="stylesheet" href="css/app.css">

    <!--Custom css-->
    <link rel="stylesheet" href="{{ site.url }}css/style.css">
    <link rel="stylesheet" id="dashicons-css" href="css/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css">


  </head>
    <body>