{% include head.html %}
{% include header.html %}

<!-- About Content -->
<section class="about">
	<div class="row">
		<div class="large-10 medium-10 small-12 column">
			<div class="method-content">
				<h1 class="bold capitalize margin-bottom">{{ page.title }}</h1>
				<h2 class="bold capitalize">Industrial Arts &amp; Method</h2>
				{{ content }}            
			</div>
			<div class="horizontal-line"></div>


			<div class="team-content">
				<h1 class="bold capitalize margin-bottom">Our Team</h1>
				<div class="row medium-up-3 large-up-3">
					{% assign sorted = (site.team | sort: 'date') %}
					{% for member in sorted %}
					<div class="column">
						<a href="{{ member.profile_url }}">
							<h1 class="bold capitalize team-members">{{ member.title }}</h1>
							<img src="{{ member.photo }}" alt="bender">
							<h3 class="bold capitalize">{{ member.designation }}</h3>
							<p>{{ member.content }}</p>
						</a>
					</div>
					{% endfor %}					
				</div>
			</div>


			<div class="horizontal-line"></div>


			<div class="advisor-content">
				<h3 class="bold capitalize">Advisory Board</h3>
				{% assign sorted = (site.advisory-board | sort: 'date') %}
				{% for member in sorted %}
				<p><span class="bold">{{ member.title }},</span> {{ member.designation }}, {{ member.company }}, {{ member.location }}</p>
				{% endfor %}

				<div class="horizontal-line"></div>


				<h3 class="bold capitalize">Board of Overseers</h3>
				{% assign sorted = (site.board-of-overseers | sort: 'date') %}
				{% for member in sorted %}
				<p><span class="bold">{{ member.title }},</span> {{ member.designation }}, {{ member.company }}, {{ member.location }}</p>
				{% endfor %}
			</div>
		</div>
		<div class="large-2 medium-2 column">
			<div class="side-menu gray bold capitalize">
				<p class="method">Our Methodology</p>
				<p class="team">Our Team</p>
				<p class="advisor">Our Advisors</p>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
