{% include head.html %}
{% include header.html %}

    <!-- About Content -->
    <section class="about">
      <div class="row">
        <div class="large-10 medium-10 small-12 column">
          <div class="method-content">
            <h1 class="bold capitalize margin-bottom">{{ page.title }}</h1>
            <h2 class="bold capitalize">Industrial Arts &amp; Method</h2>
            {{ content }}
            <!-- <p>We chose the phrase “industrial arts and method” to capture the essence of a unique design process utilized at schools supported by the Foundation. Specifically, we take inputs from both industry and the arts and apply a design methodology to elicit both far-reaching idea generation and tangible solutions. Linus Torvalds, the inventor of Linux, said,</p>
            <blockquote><p>“Almost anybody can have an idea… Getting things actually done is where people stumble.”</p></blockquote>
            <p>The IAM method takes the practitioner beyond ideas to their realization in successful products. It achieves a balance between the non-incremental innovations that improve the efficiency of what we already do and help us go further (and faster) in the directions we are already heading; and enable us together to go to new, unexpected places, where we will find disruptions and, consequently, opportunities.</p>
            <h3 class="bold italic">Water &amp; Ice</h3>
            <p>MIT Sloan School Professor Charles Fine uses a metaphor of the phase transition between water and ice to describe innovation. Water is fluid, representing the breadth and freedom of exploration necessary for creativity and invention; Ice is solid, representing the depth and structure necessary to transform an invention into production. Innovation occurs in a “liquid” phase; industrial consolidation of innovation is “solid.”</p>
            <p>The IAM process uses the “water and ice” metaphor to describe a full-immersion model of learning and doing. In our model, water represents open-ended invention; ice represents joint directed research in conjunction with industry partners and clients. Situated in the phase transition between water and ice, practitioners of the IAM method bring amplification and acceleration to the industrial design process, a process referred to as “experience design”.</p> -->
          </div>
          <div class="horizontal-line"></div>
          <div class="team-content">
            <h1 class="bold capitalize margin-bottom">Our Team</h1>
            <div class="row">
              <div class="large-4 medium-4 small-12 column">
                <h1 class="bold capitalize team-members">Walter Bender</h1>
                <img src="images/bender.png" alt="bender">
                <h3 class="bold capitalize">President</h3>
                <p>Walter Bender is a founding member and former Executive Director of the MIT Media Lab, co-founder of One Laptop per Child, and founder of Sugar Labs, an organization that provides educational software to children around the world.</p>
              </div>
              <div class="large-4 medium-4 small-12 column">
                <h1 class="bold capitalize team-members">FRANCO LODATO</h1>
                <img src="images/lodato.png" alt="bender">
                <h3 class="bold capitalize">Vice President</h3>
                <p>Franco Lodato is a renowned industrial designer for Motorola, Ferrari, Herman Miller, Pininfarina and other global enterprises. He is also the founder and principal of iBionics design consultancy.</p>
              </div>
              <div class="large-4 medium-4 small-12 column">
                <h1 class="bold capitalize team-members">ANTONIO MALAVÉ</h1>
                <img src="images/malave.png" alt="bender">
                <h3 class="bold capitalize">Secretary</h3>
                <p>Antonio Malavé is a serial entrepreneur in the Miami area where he focuses on real estate project development. He is an expert in organizational and operational management.</p>
              </div>
            </div>
          </div>
          <div class="horizontal-line"></div>
          <div class="advisor-content">
            <h3 class="bold capitalize">Advisory Board</h3>
            <p><span class="bold">Howard Nuk,</span>VP Industrial Design, Samsung Consumer Electronics, San Francisco</p>
            <p><span class="bold">Hartmut Esslenger,</span>Founder, Frog Design, San Francisco</p>
            <p><span class="bold">Brian K Smith,</span>Professor, Drexel University, Philadelphia</p>
            <p><span class="bold">Jon Craine,</span>Principal, Jon Craine Graphic Design, Boston</p>
            <p><span class="bold">Jaime Borras,</span>CTO, Mobile Technology Consortium, Florida International University</p>
            <p><span class="bold">Vassoula Vasiliou,</span>President, AIGA Miami</p>
            <p><span class="bold">Danilo De Rossi,</span>Director, Centro Piaggio, University of Pisa, Italy</p>
            <p><span class="bold">Marc Desmulliez,</span>Director, Nature Inspired Manufacturing Centre, UK</p>
            <p><span class="bold">Myorr Janha,</span>Chief Marketing Officer, Rush Communications/ Simmons Design Group</p>
            <p><span class="bold">Peter Antonelli,</span>Design Director, IDEO New York</p>
            <div class="horizontal-line"></div>
            <h3 class="bold capitalize">Board of Overseers</h3>
            <p><span class="bold">Larry Rifkin,</span>Rifkin and Fox ‑ Isicoff, P.A.</p>
            <p><span class="bold">Omar Camero Zamora,</span>President, Televen</p>
            <p><span class="bold">Rene Brillembourg,</span>President, Emida Technologies</p>
            <p><span class="bold">Javier Elguea Solís,</span>Director, Educational Programs, Carlos Slim Foundation</p>
            <p><span class="bold">Martín Camero Alvarez,</span>Director, Educational Programs, Carlos Slim Foundation</p>
          </div>
        </div>
        <div class="large-2 medium-2 column">
          <div class="side-menu gray bold capitalize">
            <p class="method">Our Methodology</p>
            <p class="team">Our Team</p>
            <p class="advisor">Our Advisors</p>
          </div>
        </div>
      </div>
    </section>

{% include footer.html %}
