---
layout: default
---

<section class="event">
	<div class="row">
		<div class="medium-10 small-12 column">

			<div class="row">
				<div class="medium-10 small-12 column">
					<div class="future-content">
						<h2 class="bold capitalize margin-bottom">Masters of tomorrow</h2>
						<img class="margin-bottom" src="images/mot.png" alt="">
						<p class="bold">An Introduction to the Bionic Principles and Methods of Biomimicry</p>
						<p>Masters of Tomorrow (MOT) Summit is tech and art conferences that takes place in Miami during Art Basel week. It gathers global thought-leaders, artists, technologists and entrepreneurs from around the world to learn, network and inspire each other.</p>
					</div>

					<!-- Horizontal Line -->
					<div class="horizontal-line"></div>
					
				</div>

				<div class="side-menu gray medium-2 column bold capitalize">
					<p class="past">Past Events</p>
					<p class="future">Future Events</p>
				</div>
			</div>

		</div>
	</div>
</section>