---
layout: default
---

<!-- Particles Js -->
    <div id="particles-js" class="particles"></div>

    <!-- Header  -->
    <header>
      <div class="row text-center">
        <div class="large-12 medium-12 small-12 column">
          <img class="logo padding-bottom" src="images/logo.png" alt=""/>
          <h1 class="capitalize bold no-padding no-margin">IAM Foundation</h1>
          <h1 class="capitalize bold no-padding no-margin margin-bottom">Industrial Arts &amp; Methods</h1>
          <a href="#" class="arrow show-div" style="z-index: 99999999999;"><img src="images/down-arrow.png" alt=""/></a>
        </div>
      </div>
    </header>

    <!-- Short Description -->
    <section class="intro">
      <div class="row">
        <div class="large-10 medium-10 small-10 column">
          <h2 class="capitalize bold no-padding no-margin">Industrial Arts &amp; Method (IAM) Foundation</h2>
          {% for item in site.iamf-details %}
          <p>{{ item.intro_text }}</p>
          {% endfor %}
        </div>
      </div>
    </section>